name: Publish VSCode Extension

on:
  workflow_dispatch:
    inputs:
      publish_marketplace:
        type: boolean
        default: false
        description: Publish to VS Marketplace
      publish_openvsx:
        type: boolean
        default: false
        description: Publish to Open VSX Registry
      publish_github:
        type: boolean
        default: false
        description: Publish to GitHub release
      use_changelog:
        type: boolean
        default: true
        description: Extract release notes from CHANGELOG.md
      changelog_file:
        type: string
        default: CHANGELOG.md
        description: Path to changelog file
        required: false
      release_tag:
        type: string
        description: Tag to release (empty for latest tag)
        required: false

jobs:
  test-and-publish:
    permissions:
      contents: write  # required for GitHub Releases
    uses: atomiechen/reusable-workflows/.github/workflows/publish-vse.yml@main
    with:
      publish_marketplace: ${{ inputs.publish_marketplace }}
      publish_openvsx: ${{ inputs.publish_openvsx }}
      publish_github: ${{ inputs.publish_github }}
      use_changelog: ${{ inputs.use_changelog }}
      changelog_file: ${{ inputs.changelog_file }}
      release_tag: ${{ inputs.release_tag }}
    secrets:
      VSCE_PAT: ${{ secrets.VSCE_PAT }}
      OVSX_PAT: ${{ secrets.OVSX_PAT }}
